<div class="container">
    <div class="row">
        <div class="col-6">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" #Form="ngForm">
                <div>
                    <div>Form submitted ? {{Form.submitted}}</div>
                    <div>Form valid ? {{myForm.valid}}</div>
                    <div>Form invalid ? {{myForm.valid}}</div>
                </div>
                <div formGroupName="id">
                    <h4>Searching movie</h4>
                    <label for="identifiant">Identifiant :</label>
                    <input type="text" formControlName="identifiant" class="form-control">

                    <label for="titre">Titre :</label>
                    <input name="titre" type="text" formControlName="titre" class="form-control">
                </div>
                <div *ngIf="Form.submitted">
                    <span *ngIf="myForm.controls.id.errors" class="alert alert-danger form-control"
                        role="alert">{{myForm.controls.id.errors.isRequired}}</span>
                </div>
                <div>
                    <label>Type :</label>
                    <select formControlName="types" class="form-control">
                        <option *ngFor="let type of types; let i = index" [value]="types[i].id">{{ types[i].type }}</option>
                    </select>
                </div>
                <div>
                    <label for="date">Année de sortie :</label>
                    <input name="date" type="number" formControlName="date" class="form-control">
                </div>
                <div *ngIf="Form.submitted">
                    <span *ngIf="myForm.controls.date.errors" class="alert alert-danger form-control"
                        role="alert">{{myForm.controls.date.errors.min}}</span>
                </div>
                <div>
                    <label>Fiche :</label>
                    <select formControlName="fiches" class="form-control">
                        <option *ngFor="let fiche of fiches; let i = index" [value]="fiches[i].id">{{ fiches[i].fiche }}</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success mt-3">Submit</button>

            </form>
        </div>
    </div>
</div>